//https://getbootstrap.com/docs/5.0/customize/color/
//https://colorhunt.co/

$primary: #0e73e5;
$secondary: rgb(98, 98, 98);
$dark: #000;
$light: #fff; 
$p-font: 18px;
$regular-font: 20px;
$title-font: 24px;
$delay: .3s;
