//https://getbootstrap.com/docs/5.0/customize/color/
//https://colorhunt.co/

$primary: #0e73e5;
$secondary: rgb(71, 71, 71);
$dark: #000;
$light-text: #fff; 
$regular-font: 19px;
$regular-lh: 30px;
$title-font: 24px;
$delay: .4s;